<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width">
  <title>TuneGram</title>
  <link rel="icon" type="image/x-icon" href="favicon.png">
  <link rel="manifest" href="manifest.json">
  <link href="style.css" rel="stylesheet" type="text/css" />
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link
    href="https://fonts.googleapis.com/css2?family=MuseoModerno:ital,wght@0,100..900;1,100..900&family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap"
    rel="stylesheet">
  <link rel="manifest" href="manifest.json">
  <meta name="apple-music-developer-token" content="eyJhbGciOiJFUzI1NiIsImtpZCI6IlFOMjVSSkFEQk4ifQ.eyJpc3MiOiJRN0MyVEMzNlQyIiwiaWF0IjoxNzQ5MjQ0MjY0LCJleHAiOjE3NDkzMzA2NjQsIm9yaWdpbiI6WyJodHRwOi8vbG9jYWxob3N0OjMwMDAiXX0.b8F9gwxgIgB5Ptu_g4jOVLeiZuacQ1HIw1a7A5hMsGey-PDpIk7RSztldtoqMMpEahkxHjCIOINY1RsUpAZqeg" />
<meta name="apple-music-app-name" content="TuneGram" />
<meta name="apple-music-app-build" content="2.0.0" />
  <link rel="stylesheet"
    href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200" />
  <script src="https://unpkg.com/htmx.org@1.9.10"
    integrity="sha384-D1Kt99CQMDuVetoL1lrYwg5t+9QdHe7NLX/SoJYkXDFfX37iInKRy5xLSi8nO7UC"
    crossorigin="anonymous"></script>
  <script src="https://js-cdn.music.apple.com/musickit/v3/musickit.js" data-web-components async></script>
  <script src="https://code.jquery.com/jquery-3.7.1.slim.js"
    integrity="sha256-UgvvN8vBkgO0luPSUl2s8TIlOSYRoGFAX4jlCIm9Adc=" crossorigin="anonymous"></script>
</head>

<body>
  <div class="header" style="height:82px">
    <div valign="left" id="nameplate" onclick="loadContent('nap')" hx-get="onboard.html" hx-target="#content"
      hx-swap="innerHTML swap:1s" style="border:none;margin-left:2%">
      <p class="name title-font">TuneGram</p>
    </div>
    <div title="Now Playing" class="header-itm" id="np-btn" onclick="loadContent('np-header')"
      hx-get="np.html?id=viewonly" hx-target="#content" hx-swap="innerHTML swap:1s">
      <p style="font-size:3em;text-align:center;" class="material-symbols-outlined">graphic_eq</p>
    </div>
    <div title="Search" class="header-itm" id="srch-btn" onclick="loadContent('srch')" hx-get="search.html"
      hx-target="#content" hx-swap="innerHTML swap:1s">
      <p style="font-size:3em;text-align:center;" class="material-symbols-outlined">search</p>
    </div>
  </div>
  <div id="content">
    <div class="moving-note">
      <p style="font-size:3em;text-align:center;margin-bottom:10%;margin-left:25%;margin-right:25%;margin-top:10%"
        class="material-symbols-outlined">music_note</p>
    </div>
  </div>
</body>
<script>
  var audio_;
  var hiItsQue = false
  var queue = "";
  var methodType = "";
  var targetPractice = "";

  const queryParameters = { l: 'en-us' };
  function assignVar(type, num) {
    if (type == "album") {
      albumsToCount = num;
    } else if (type == "plist") {
      plistsToCount = num
    }
  }
  var plistWarns = [];
  var albumsToCount = 0;
  var toDrawAlbums = ""
  var albumsProcessed = 0;
  var foldersToCount = 0;
  var toDrawFolders = ""
  var foldersProcessed = 0;
  var songsToCount = 0;
  var toDrawSongs = ""
  var songsProcessed = 0;
  var plistsToCount = 0;
  var toDrawPlists = ""
  var plistsProcessed = 0;
  var tracksToCount = 0;
  var toDrawTracks = ""
  var tracksProcessed = 0;
  var heavyToCount = 0;
  var toDrawHeavy = ""
  var heavyProcessed = 0;
  function boundToString(rect) {
    return `rect(w=${rect.width}, h=${rect.height})`;
  }
  document.body.addEventListener('htmx:afterSwap', function (res) {
    document.getElementById('content').style.height = "fit-content";
  })
  document.body.addEventListener('htmx:beforeSwap', function () {
    document.getElementById('content').style.height = "87.5vh";
  })
  function loadContent(page) {
    document.getElementById('content').innerHTML = `<div class="moving-note"><p style="font-size:3em;text-align:center;margin-bottom:10%;margin-left:25%;margin-right:25%;margin-top:10%" class="material-symbols-outlined">music_note</p>`
    document.getElementById('content').style.display = "inline-flex";

    if (page == "srch") {
      document.querySelector('#srch-btn').style.backgroundColor = "#2F3633";
      document.querySelector('#srch-btn').style.color = "#E3E1DB";
      document.querySelector('#np-btn').style.color = "#2F3633";
      document.querySelector('#np-btn').style.backgroundColor = "#E3E1DB";
    }
    if (page == "np-header") {
      npId = "viewonly"
      document.querySelector('#np-btn').style.backgroundColor = "#2F3633";
      document.querySelector('#np-btn').style.color = "#E3E1DB";
      document.querySelector('#srch-btn').style.color = "#2F3633";
      document.querySelector('#srch-btn').style.backgroundColor = "#E3E1DB";
    }
    if (page == "np") {
      document.querySelector('#np-btn').style.backgroundColor = "#2F3633";
      document.querySelector('#np-btn').style.color = "#E3E1DB";
      document.querySelector('#srch-btn').style.color = "#2F3633";
      document.querySelector('#srch-btn').style.backgroundColor = "#E3E1DB";
    }
    if (page == "nap") {
      document.querySelector('#srch-btn').style.color = "#2F3633";
      document.querySelector('#srch-btn').style.backgroundColor = "#E3E1DB";
      document.querySelector('#np-btn').style.color = "#2F3633";
      document.querySelector('#np-btn').style.backgroundColor = "#E3E1DB";
    }
  }
  const listenSearch = document.createEvent("CustomEvent");
  const listenOnBoard = document.createEvent("Event");
  const infoScreen = document.createEvent("CustomEvent");
  const nowPlayingEvent = document.createEvent('CustomEvent')
  const pausePlayEvent = document.createEvent('CustomEvent')
  const playLater = document.createEvent('CustomEvent')
  const playNext = document.createEvent('CustomEvent')
  const listenSeeMore = document.createEvent('CustomEvent')
  function getSearch() {
    htmx.ajax('GET', 'search.html', { target: '#content', swap: 'innerHTML', delay: "500ms" })
  }
  document.addEventListener('musickitloaded', async function () {
    try {
      await MusicKit.configure({
        developerToken: 'eyJhbGciOiJFUzI1NiIsImtpZCI6IlFOMjVSSkFEQk4ifQ.eyJpc3MiOiJRN0MyVEMzNlQyIiwiaWF0IjoxNzQ5MjQ0MjY0LCJleHAiOjE3NDkzMzA2NjQsIm9yaWdpbiI6WyJodHRwOi8vbG9jYWxob3N0OjMwMDAiXX0.b8F9gwxgIgB5Ptu_g4jOVLeiZuacQ1HIw1a7A5hMsGey-PDpIk7RSztldtoqMMpEahkxHjCIOINY1RsUpAZqeg',
        app: {
          name: 'TuneGram',
          build: '2.0.0',
        },
        debug: true,
        suppressErrorDialog: false
      });
      const music = MusicKit.getInstance();
      const storefront = music.storefrontId || 'us';
      if (!music.isAuthorized) {
        document.querySelector('#np-btn').outerHTML = ""
        document.querySelector('#srch-btn').outerHTML = ""
        document.querySelector('#nameplate').outerHTML = `<div valign="left" id="nameplate" onclick="getSearch()" style="border:none;margin-left:2%;width:100vw">
      <span class="name title-font">TuneGram</span>
      <span class="name title-font" style="font-size:1.5em">Preview</span>
    </div>`
        getSearch()
      }
      document.addEventListener("listenSearch", (e) => {
        searchTerm(e.detail)
      }, false);
      async function searchTerm(term) {
        await music.api.music(`/v1/catalog/${storefront}/search`, { term: term, types: 'albums,songs' }).then((res) => {
          if (res.data.results) {
            if (res.data.results.songs) {
              var songs = res.data.results.songs.data;
              songs.forEach(searchSongs)
            } else {
              drawSadResults('song');
            }
            if (res.data.results.albums) {
              var albums = res.data.results.albums.data;
              albums.forEach(searchAlbums)
            } else {
              drawSadResults('album');
            }
          } else {
            drawSadResults('both');
          }
        }).catch((err) => {
          console.error(err)
        })
      }
      async function infoDo(id) {
        if (id.startsWith('p')) {
          await music.api.music('/v1/me/library/playlists/' + id, queryParameters).then(async (res) => {
            var plist = res.data.data;
            plist.forEach(drawInfo)
            console.log(res)
            await music.api.music(`/v1/me/library/playlists/${id}/tracks`, queryParameters).then((res) => {
              var tracks = res.data.data;
              tracks.forEach(appendTracks)
            }).catch(err => {
              console.log(err)
              if (err) {
                ["n/a"].forEach(appendTracks)
              }
            })
          })
        } else if (id.startsWith('s')) {
          var songId = id.slice(1)
          await music.api.music(`/v1/catalog/${storefront}/songs/` + songId, queryParameters).then(async (res) => {
            var albumOfSong = res.data.data[0].relationships.albums.data[0].id
            await music.api.music(`/v1/catalog/${storefront}/albums/` + albumOfSong, queryParameters).then((res) => {
              var album = res.data.data;
              if (album[0].relationships.tracks.data) {
                var tracks = album[0].relationships.tracks.data;
                tracks.forEach(appendTracks)
              }
              album.forEach(drawInfo)
            })
          })
        } else if (id.startsWith('i')) {
          await music.api.music("/v1/me/library/albums/" + id, queryParameters).then(async (res) => {
            var songReportingId = res.data.data[0].attributes.playParams.reportingId;
            await music.api.music(`/v1/catalog/${storefront}/songs/` + songReportingId, queryParameters).then(async (res) => {
              var albumOfSong = res.data.data[0].relationships.albums.data[0].id
              await music.api.music(`/v1/catalog/${storefront}/albums/` + albumOfSong, queryParameters).then((res) => {
                var album = res.data.data;
                if (album[0].relationships.tracks.data) {
                  var tracks = album[0].relationships.tracks.data;
                  tracks.forEach(appendTracks)
                }
                album.forEach(drawInfo)
              })
            });
          })
        } else if (!id.startsWith('p') && !id.startsWith('l') && !id.startsWith('i')) {
          await music.api.music(`/v1/catalog/${storefront}/albums/` + id, queryParameters).then((res) => {
            var album = res.data.data;
            if (album[0].relationships.tracks.data) {
              var tracks = album[0].relationships.tracks.data;
              tracks.forEach(appendTracks)
            }
            album.forEach(drawInfo)
          })
        } else if (id.startsWith('l')) {
          await music.api.music('/v1/me/library/albums/' + id, queryParameters).then((res) => {
            var album = res.data.data;
            if (album[0].relationships.tracks.data) {
              var tracks = album[0].relationships.tracks.data;
              tracks.forEach(appendTracks)
            }
            album.forEach(drawInfo)
          });
        }
      }
      function loadMore(type) {
        methodType = type;
        if (methodType == "heavy") {
          targetPractice = "#heavycards"
        } else if (methodType == "album") {
          targetPractice = "#bigcards"
        } else if (methodType == "playlist") {
          targetPractice = "#smallcards"
        }
        htmx.ajax('GET', 'seemore.html', { target: targetPractice, swap: 'afterend' })
      }
      document.addEventListener("infoScreen", (e) => {
        infoDo(e.detail)
      }, false);
      if (music.isAuthorized) {
        htmx.ajax('GET', 'onboard.html', { target: '#content', swap: 'innerHTML', delay: "2s" })
        document.body.addEventListener('htmx:afterSwap', function (res) {
          var resUlt = res.detail.requestConfig.path;
          if (resUlt.includes("np.html")) {
            if (music.playbackState == 2) {
              document.getElementById('plpa-btn').innerHTML = "pause"
            } else if (music.playbackState == 3) {
              document.getElementById('plpa-btn').innerHTML = "play_arrow"
            }
          }
        })
        document.addEventListener("listenSeeMore", async (e) => {
          seeMore();
        })
        async function seeMore() {
          var rawMethod = methodType;
          var chosenFunc = "";
          var methodUrl = ""
          if (rawMethod == "heavy") {
            methodUrl = "/v1/me/history/heavy-rotation";
            chosenFunc = drawHeavy;
          } else if (rawMethod == "album") {
            methodUrl = "/v1/me/library/albums";
            chosenFunc = drawAlbums;
          } else {
            methodUrl = "/v1/me/library/playlists";
            chosenFunc = drawPlists;

          }
          var offSet = document.querySelector(targetPractice).children.length;
          const greaterAlbums = await music.api.music(methodUrl, { offset: offSet }).then((data) => {
            if (data.data) {
              var res = data.data.data;
              if (res.length == 0) {
                $(targetPractice + ' card').last()[0].scrollIntoView({
                  behavior: "smooth",
                  block: "start",
                  block: 'nearest',
                  inline: 'center'
                });
              } else {
                $(targetPractice + ' card').last()[0].scrollIntoView({
                  behavior: "smooth",
                  block: "start",
                  block: 'nearest',
                  inline: 'center'
                });
                res.forEach(chosenFunc)
              }
            }
          });
        }
        document.addEventListener("listenOnBoard", (e) => {
          document.getElementById("mix-more").addEventListener("click", function () {
            loadMore('playlist')
          });
          document.getElementById("alb-more").addEventListener("click", function () {
            loadMore('album')
          });
          document.getElementById("hvy-more").addEventListener("click", function () {
            loadMore('heavy')
          });
          loadLibrary()
        }, false);
        document.addEventListener("pausePlayEvent", async (e) => {
          var typee = e.detail
          var type = typee.slice(0, 2);
          var id = typee.slice(2)
          if (type == "re") {
            await music.skipToPreviousItem()
          } else if (type == "ff") {
            await music.skipToNextItem()
          } else {
            if (music.isPlaying == true) {
              music.pause()

            } else {
              music.play();

            }
          }
        }, false);
        document.addEventListener("nowPlayingEvent", async (e) => {
          loadVisuals(queue, e.detail)
          var songId = [e.detail];
          if (e.detail !== "") {
            if (e.detail !== "viewonly") {
              queue = await music.setQueue({ songs: songId, startPlaying: true })
              loadVisuals(queue, e.detail)
            } else {
              ["n/a"].forEach(appendTracks)
            }
          }
        }, false);
      }
      document.addEventListener("playLater", async (e) => {
        if (queue == "") {
          queue = await music.setQueue({ songs: [e.detail], startPlaying: true });
          loadVisuals(queue, e.detail)
        } else {
          music.playLater({ songs: [e.detail] })
        }
      }, false);
      document.addEventListener("playNext", async (e) => {
        if (queue == "") {
          queue = await music.setQueue({ songs: [e.detail], startPlaying: true });
          loadVisuals(queue, e.detail)
        } else {
          music.playNext({ songs: [e.detail] })
        }
      }, false);
      music.addEventListener('nowPlayingItemDidChange', ({ item }) => {
        if (item !== undefined) {
          loadVisuals(queue, item.id)
        }
      });
      music.addEventListener('queueItemsDidChange', ({ item }) => {
        loadVisuals(queue, queue.currentItem)
      });
      function loadVisuals(queue, id) {
        var songPlaying = queue.currentItem;
        if (songPlaying !== undefined) {
          var queueItems = queue.items;
          hiItsQue = true;
          var root = songPlaying.attributes;
          var art = ""
          if (root.artwork) {
            if (root.artwork.url) {
              art = MusicKit.formatArtworkURL(root.artwork, 500, 500);
            }
          } else {
            art = "fallback.svg"
          }

          document.getElementById('plpa-btn').setAttribute('onclick', `pausePlay('${id}', 'pp')`)
          document.getElementById('rewind-btn').setAttribute('onclick', `pausePlay('na', 're')`)
          document.getElementById('ff-btn').setAttribute('onclick', `pausePlay('na', 'ff')`)
          document.getElementById('info-title').innerHTML = root.name
          document.getElementById('info-artist').innerHTML = root.artistName
          document.getElementById('info-album').innerHTML = root.albumName
          document.getElementById('info-img').src = art
        } else {
          document.querySelector('#np #info-title').innerHTML = 'Not Playing';
          document.querySelector('#np #info-artist').innerHTML = '';
          document.querySelector('#np #info-album').innerHTML = '';
          document.querySelector('#np img').src = 'fallback.svg';
        }
      }
      function converter(millis) {
        var minutes = Math.floor(millis / 60000);
        var seconds = ((millis % 60000) / 1000).toFixed(0);
        return minutes + ":" + (seconds < 10 ? '0' : '') + seconds;
      }
      function appendTracks(item, index, array) {
        if (item === "n/a") {
          console.warn('No appendable tracks to Queue or Tracklist.');
          document.getElementById('infobox').classList.remove('skeleton-page');
        } else {
          tracksToCount = array.length;
          var title = item.attributes.name
          var runtime = item.attributes.durationInMillis;
          var id;
          if (music.isAuthorized) {
            id = item.id
          } else {
            id = "prev+" + item.attributes.previews[0].url
          }
          var art = ""
          if (item.attributes.artwork) {
            art = MusicKit.formatArtworkURL(item.attributes.artwork, 25, 25);
          } else {
            art = "fallback.svg"
          }
          var idIcon = "play_arrow";
          var html = ` <tr>
            <td class="material-symbols-outlined general-music-control" onclick="musicPlay('${id}', '${art}')">${idIcon}</td>
            <td>${title}</td>
            <td>${converter(runtime)}</td>`
          if (music.isAuthorized) {
            document.getElementById('tracklist').innerHTML = `
  <th class="labels">Play</th>
  <th class="labels">Name</th>
  <th class="labels">Runtime</th>
  <th class="labels">Queue</th>`
            html += `<td class="material-symbols-outlined general-music-control" onclick="playNextOrLast('${id}', 'next')">queue_play_next</td>
            <td class="material-symbols-outlined general-music-control" onclick="playNextOrLast('${id}', 'later')">add_to_queue</td>
        </tr>`
          } else {
            html += "</tr>"
          }
          if (hiItsQue == true) {
            hiItsQue = false;
            // Potential for queue specialness in Now Playing view
          }
          tracksProcessed++
          toDrawTracks += html
          if (tracksProcessed == tracksToCount && tracksProcessed !== 0) {
            document.querySelector('#tracklist').innerHTML += toDrawTracks;
            tracksProcessed = 0;
            toDrawTracks = "";
            document.getElementById('infobox').classList.remove('skeleton-page')
          }
        }
      }
      function drawInfo(item, index, array) {
        var fullDate = item.attributes.releaseDate;
        var cover = "fallback.svg";
        var sub = ""
        var subsub = ""
        if (item.attributes.artwork) {
          cover = MusicKit.formatArtworkURL(item.attributes.artwork, 1200, 1200);
        }
        if (item.attributes.artistName) {
          sub = item.attributes.artistName;
        }
        if (item.attributes.releaseDate) {
          var dt = new Date(item.attributes.releaseDate);
          subsub = dt.getFullYear();
        }
        document.querySelector('#info-title').innerHTML = item.attributes.name;
        document.querySelector('#info-year').innerHTML = subsub;
        document.querySelector('#info-artist').innerHTML = sub;
        document.querySelector('#info-img').src = cover;
      }
      async function loadLibrary() {
        if (!sessionStorage.getItem('plistStorage') || !sessionStorage.getItem('albumStorage') || !sessionStorage.getItem('heavyStorage')) {
          const greaterAlbums = await music.api.music('/v1/me/library/albums').then((data) => {
            if (data.data) {
              var albums = data.data.data
              albums.forEach(drawAlbums)
            }
          });
          await music.api.music('/v1/me/history/heavy-rotation').then((data) => {
            var heavyRotation = data.data.data;
            heavyRotation.forEach(drawHeavy)
          });
          const plists = await music.api.music('/v1/me/library/playlists').then(async (data) => {
            var plists = data.data.data
            plists.forEach(drawPlists)
          })
        } else {
          drawBoth()
        }
      }
      music.addEventListener('playbackStateDidChange', ({ oldState, state }) => {
        if (state == "10") {
          document.querySelector('#np #info-title').innerHTML = 'Not Playing';
          document.querySelector('#np #info-artist').innerHTML = '';
          document.querySelector('#np #info-album').innerHTML = '';
          document.querySelector('#np img').src = 'fallback.svg';
        }
        if (state == 2) {
          document.getElementById('plpa-btn').innerHTML = "pause"
        } else if (state == 3) {
          document.getElementById('plpa-btn').innerHTML = "play_arrow"
        }
      });
    } catch (err) {
      console.error(err)
    }
  });
  document.querySelectorAll('#content')[0].style.display = "block";
  function drawAlbums(item, index, array) {
    albumsToCount = array.length
    if (item.attributes.url) {
      item.id = item.attributes.url.split('/').pop();
    }
    if (!item.attributes.artwork) {
      albumsProcessed++
      return;
    }
    if (item.attributes.name === undefined) {
      item.attributes.name = "Unknown Album";
    }
    if (item.attributes.artistName === undefined) {
      item.attributes.artistName = "Unknown Artist";
    }
    if (item.attributes.releaseDate === undefined) {
      item.attributes.releaseDate = "Unknown Release Date";
    }
    if (item.attributes.playParams === undefined) {
      item.attributes.playParams = {
        reportingId: item.id
      }
    }
    var cover = MusicKit.formatArtworkURL(item.attributes.artwork, 500, 500);
    var card = `<card onclick="toAlbum('${item.id}')"><img src="${cover}"/><heading>${item.attributes.name}</heading><subheading>${item.attributes.artistName}</subheading></card>`
    albumsProcessed++
    toDrawAlbums += card
    if (albumsProcessed == albumsToCount && albumsProcessed !== 0) {
      document.querySelector('#bigcards').innerHTML += toDrawAlbums;
      var setStorageStr = toDrawAlbums;
      if (sessionStorage.getItem('albumStorage')) {
        setStorageStr = sessionStorage.getItem('albumStorage') + toDrawAlbums;
      }
      sessionStorage.setItem('albumStorage', setStorageStr)
    }
  }
  function drawHeavy(item, index, array) {
    heavyProcessed++
    if (item.attributes) {
      heavyToCount = array.length
      var cover = "";
      if (item.attributes.artwork) {
        cover = MusicKit.formatArtworkURL(item.attributes.artwork, 500, 500);
      } else if (!item.attributes.artwork && item.attributes.artistName) {
        return;
      }
      var subheading = "";
      if (item.attributes.artistName) {
        subheading = item.attributes.artistName;
      } else {
        var date = new Date(item.attributes.lastModifiedDate);
        var edited = (date.getMonth() + 1) + "/" + date.getDate() + "/" + date.getFullYear()
        subheading = `Edited: ${edited}`;
      }
      var card = `<card onclick="toAlbum('${item.id}')"><img src="${cover}"/><heading>${item.attributes.name}</heading><subheading>${subheading}</subheading></card>`
      toDrawHeavy += card
      if (heavyProcessed == heavyToCount && heavyProcessed !== 0) {
        document.querySelector('#heavycards').innerHTML += toDrawHeavy
        var setStorageStr = toDrawHeavy;
        if (sessionStorage.getItem('heavyStorage')) {
          setStorageStr = sessionStorage.getItem('heavyStorage') + toDrawHeavy;
        }
        sessionStorage.setItem('heavyStorage', setStorageStr)
      }
    } else {
      console.warn('Couldn\'t append an item in Heavy Rotation. Likely a station.')
      if (heavyProcessed == heavyToCount && heavyProcessed !== 0) {
        document.querySelector('#heavycards').innerHTML += toDrawHeavy
        var setStorageStr = toDrawHeavy;
        if (sessionStorage.getItem('heavyStorage')) {
          setStorageStr = sessionStorage.getItem('heavyStorage') + toDrawHeavy;
        }
        sessionStorage.setItem('heavyStorage', setStorageStr)
      }
    }
  }
  function drawSadResults(type) {
    var card = `<card><img src="fallback.svg"/><heading>No Results</heading><subheading>:(</subheading></card>`
    if (type == "album") {
      document.querySelector('#bigcards').innerHTML = card
    }
    if (type == "song") {
      document.querySelector('#songcards').innerHTML = card
    }
    if (type == "both") {
      document.querySelector('#bigcards').innerHTML = card
      document.querySelector('#songcards').innerHTML = card
    }
  }
  function searchAlbums(item, index, array) {
    albumsToCount = array.length
    var cover = MusicKit.formatArtworkURL(item.attributes.artwork, 500, 500);
    var card = `<card onclick="toAlbum('${item.id}')"><img src="${cover}"/><heading>${item.attributes.name}</heading><subheading>${item.attributes.artistName}</subheading></card>`
    albumsProcessed++
    toDrawAlbums += card
    if (albumsProcessed == albumsToCount && albumsProcessed !== 0) {
      document.querySelector('#bigcards').innerHTML = toDrawAlbums
    }
  }
  function searchSongs(item, index, array) {
    songsToCount = array.length
    var cover = MusicKit.formatArtworkURL(item.attributes.artwork, 500, 500);
    var card = `<songcard onclick="toAlbum('s${item.id}')"><img src="${cover}"/><iholder><heading>${item.attributes.name}</heading><subheading>${item.attributes.artistName}</subheading></iholder></songcard>`
    songsProcessed++
    toDrawSongs += card
    if (songsProcessed == songsToCount && songsProcessed !== 0) {
      document.querySelector('#songcards').innerHTML = toDrawSongs;
      songsProcessed = 0;
      toDrawSongs = ""
    }
  }
  function drawBoth() {
    document.querySelector('#bigcards').innerHTML = sessionStorage.getItem('albumStorage')
    document.querySelector('#heavycards').innerHTML = sessionStorage.getItem('heavyStorage')
    document.querySelector('#smallcards').innerHTML = sessionStorage.getItem('plistStorage')
  }
  function drawPlists(item, index, array) {
    plistsToCount = array.length
    var cover = "fallback.svg"
    if (item.attributes.artwork) {
      cover = MusicKit.formatArtworkURL(item.attributes.artwork, 500, 500)
    }
    if (item.attributes.name === undefined) {
      item.attributes.name = "Unknown Playlist";
    }
    if (item.attributes.playParams === undefined) {
      item.attributes.playParams = {
        reportingId: item.id
      }
    }
    var edited = "";
    if (item.attributes.lastModifiedDate === "1970-01-01T00:00:00Z") {
      edited = "Date Unknown";
    } else {
      var date = new Date(item.attributes.lastModifiedDate);
      edited = (date.getMonth() + 1) + "/" + date.getDate() + "/" + date.getFullYear()
    }
    var card = `<card onclick="toAlbum('${item.id}')"><img src="${cover}"/><heading>${item.attributes.name}</heading><subheading>Edited ${edited}</subheading></card>`
    plistsProcessed++
    toDrawPlists += card
    if (plistsProcessed == plistsToCount && plistsProcessed !== 0) {
      document.querySelector('#smallcards').innerHTML += toDrawPlists
      var setStorageStr = toDrawPlists;
      if (sessionStorage.getItem('plistStorage')) {
        setStorageStr = sessionStorage.getItem('plistStorage') + toDrawPlists;
      }
      sessionStorage.setItem('plistStorage', setStorageStr)
    }
  }
  var infoId = ""
  var npId = ""
  var searchId = ""
  function toAlbum(id) {
    infoId = id
    htmx.ajax('GET', 'info.html?id=' + id, { target: '#content', swap: 'innerHTML', delay: "500ms" })
  }
  function musicPlay(id, art) {
    npId = id;
    if (!id.startsWith('prev+')) {
      if (id !== "itunesonly") {
        loadContent('np');
        htmx.ajax('GET', 'np.html?id=' + id, { target: '#content', swap: 'innerHTML', delay: "500ms" })
      } else {
        alert('This content is only available on the iTunes Store.')
      }
    } else {
      var src = id.slice(5);
      if (audio_) audio_.pause();
      const audio = audio_ = new Audio(src);
      audio.play();
    }
  }
  function playNextOrLast(id, type) {
    npId = "viewonly"
    loadContent('np');
    htmx.ajax('GET', 'np.html?id=', { target: '#content', swap: 'innerHTML', delay: "500ms" })
    if (type == "later") {
      playLater.initCustomEvent("playLater", true, true, id);
      document.dispatchEvent(playLater);
    } else {
      playNext.initCustomEvent("playNext", true, true, id);
      document.dispatchEvent(playNext);
    }
  }
  function pausePlay(id, type) {
    pausePlayEvent.initCustomEvent("pausePlayEvent", true, true, type + id);
    document.dispatchEvent(pausePlayEvent);
  }
</script>